<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/175641b1-44f5-4e7a-aa84-3c1347f2367f/resourcegroups/Dietician/providers/Microsoft.ContainerRegistry/registries/registry20200507080840</ContainerResourceId>
    <ContainerResourceName>registry20200507080840</ContainerResourceName>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200507080840.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/175641b1-44f5-4e7a-aa84-3c1347f2367f/resourcegroups/Dietician/providers/Microsoft.Web/sites/DieticianWeb</ResourceId>
    <ResourceGroup>Dietician</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dieticianweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fee1a75a-095e-44f6-b4a5-ca066f0338d6</ProjectGuid>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>